.custom-button {
  position: relative;
  display: inline-block;
  padding: 20px 50px;
  border: 1px solid black;
  background-color: white;
  font-family: 'Roboto', sans-serif;
  font-size: 20px;
  font-weight: 400;
  cursor: pointer;
  text-transform: uppercase;
  overflow: hidden;
  transition: color 0.3s ease, background-color 0.3s ease;
}

.custom-button::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: black;
  transform: translateX(-100%); 
  transition: transform 0.3s ease;
  z-index: -1; 
}

.custom-button:hover::before {
  transform: translateX(0); 
}

.custom-button:hover {
  color: white;
  z-index: 2; 
}

.appbar-button {
  text-transform: uppercase;
  font-family: 'Roboto', sans-serif;
  font-size: 20px;
  font-weight: 400;
  cursor: pointer; 
  overflow: hidden;
  padding: 20px;
  border: none; 
  background-color: transparent; 
}

.appbar-button:hover {
  color: #888; 
}

.appbar-button::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  height: 2px;
  width: 100%;
  background-color: #888; 
  transform: scaleX(0);
  transform-origin: bottom left;
  transition: transform 0.3s ease;
}

.appbar-button:hover::after {
  transform: scaleX(1); 
}