.custom-button {
  position: relative;
  display: inline-block;
  padding: 20px 50px;
  border: 1px solid black;
  background-color: white;
  font-family: 'Roboto', sans-serif;
  font-size: 20px;
  font-weight: 400;
  cursor: pointer;
  text-transform: uppercase;
  overflow: hidden;
  transition: color 0.3s ease, background-color 0.3s ease;
}

.custom-button::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: black;
  transform: translateX(-100%); 
  transition: transform 0.3s ease;
  z-index: -1; 
}

.custom-button:hover::before {
  transform: translateX(0); 
}

.custom-button:hover {
  color: white;
  z-index: 2; 
}

.appbar-button {
  display: flex;
  align-items: center;
  text-transform: uppercase;
  font-family: 'Roboto', sans-serif;
  font-size: 20px;
  font-weight: 400;
  cursor: pointer;
  overflow: hidden;
  padding: 20px;
  border: none;
  background-color: transparent;
  gap: 1rem; 
}

.appbar-button:hover {
  color: #888; 
  text-decoration: underline;
}

.appbar-button::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  height: 2px;
  width: 100%;
}

.appbar-button.clicked {
  background-color: #333333;
  color: #fff; 
  transition: 0.5s ease;
  
}


.appbar-button-menu {
  display: flex;
  align-items: center;
  font-family: 'Roboto', sans-serif;
  font-size: 15px;
  font-weight: 300;
  cursor: pointer;
  overflow: hidden;
  padding: 10px 20px;
  border: none;
  color: #fff; 
  background-color: transparent;
  gap: 1rem; 
}

.appbar-button-menu:hover {
  color: #ffcd33; 
  font-weight: 400;
  text-decoration: underline;
}